.bottom_bar {
    background: url(/assets/images/wallpaper_sidebar.jpg);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px; 
    font-family: monospace;  
    position: fixed;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
    font-family: 'Bangers', cursive;
    font-family: 'Press Start 2P', cursive; 
  }
  #new_game_button{
    border-color: rgb(0, 0, 0);
    color: rgba(0, 0, 0, 0.825);
    font-family: monospace;
    font-size: 14px;
    background-color: #f4ed19;
    font-family: 'Bangers', cursive;
    font-family: 'Press Start 2P', cursive; 
    width: 150px;
    height: 40px;
    border-radius: 50px;
  }
.bottom_bar {
    background-color: #f21616;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
#new_game_button:hover {
    color: #e58f8f;
  }
.game_counters {
 border-style: groove;
 display: flex;
 width: 308px;
 height: 30px;
 background-color: #c82ce3;
 font-size: 12px;
 text-align: center;
 border-radius: 25px;
 border-color: rgba(238, 53, 6, 0.834);
 border-width: 2px;

}
.counter-value {
  color: rgb(0, 0, 0);
  font-size: 10px;
}
.counter {
  color: #f8f1f1;
  margin: 10px;
}
.timer{ 
   margin: 10px;
   background-color: #f4ed19;
   width: 70px;
   height: 14px;
   border-radius: 10px;
   padding: 2px;
   padding-top: 5px;
   position: relative;
   bottom: 5px;
}
.themes button{
  background: none;
  border: none;
}
.themes img {
width: 35px;
height: 32px;
position: relative;
top: 3px;
border-radius: 10px;
border-style: groove;
margin: -10px;
}
.themes button:hover {
color: aqua;
}
#btn-easy{
  background-color: #fadead;
  border-radius: 5px;
  font-family: 'Bangers', cursive;
  font-family: 'Press Start 2P', cursive; 
  width: 70px ;
  border-color: #f4c8ea;
}
#btn-medium{
  background-color: #f3bf65;
  border-radius: 5px;
  font-family: 'Bangers', cursive;
  font-family: 'Press Start 2P', cursive; 
  width: 100px ;
  border-color: #f4c8ea;
}
#btn-hard{
  background-color: #f99f05;
  border-radius: 5px;
  font-family: 'Bangers', cursive;
  font-family: 'Press Start 2P', cursive; 
  width: 78px ;
  border-color: #f4c8ea;
}
@media (max-width: 945px) {
  .bottom_bar {
    background: url(/assets/images/wallpaper_sidebar.jpg);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px; 
    font-family: monospace;  
    position: fixed;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
    font-family: 'Bangers', cursive;
    font-family: 'Press Start 2P', cursive; 
  }
  #new_game_button{
    border-color: rgb(0, 0, 0);
    color: rgba(0, 0, 0, 0.825);
    font-family: monospace;
    font-size: 10px;
    background-color: #f4ed19;
    font-family: 'Bangers', cursive;
    font-family: 'Press Start 2P', cursive; 
    width: 70px;
    height: 30px;
    border-radius: 50px;
  }
.bottom_bar {
    background-color: #f21616;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
#new_game_button:hover {
    color: #e58f8f;
  }
.game_counters {
 border-style: groove;
 display: flex;
 width: 200px;
 height: 30px;
 background-color: #c82ce3;
 font-size: 8px;
 text-align: center;
 border-radius: 25px;
 border-color: rgba(238, 53, 6, 0.834);
 border-width: 2px;

}
.counter-value {
  color: rgb(0, 0, 0);
  font-size: 10px;
}
.counter {
  color: #f8f1f1;
  margin: 10px;
  position: relative;
  top: -4px;
}
.timer{ 
   margin: 10px;
   background-color: #f4ed19;
   width: 70px;
   height: 14px;
   border-radius: 10px;
   padding: 2px;
   padding-top: 5px;
   position: relative;
   bottom: 5px;
}
.themes button{
  background: none;
  border: none;
}
.themes img {
width: 15px;
height: 15px;
position: relative;
top: -5px;
border-radius: 4px;
border-style: groove;
margin: -10px;
}
.themes button:hover {
color: aqua;
}
#btn-easy{
  background-color: #fadead;
  border-radius: 5px;
  font-family: 'Bangers', cursive;
  font-family: 'Press Start 2P', cursive; 
  width: 45px ;
  border-color: #f4c8ea;
  font-size: 8px;
  margin: -12px;
}
#btn-medium{
  background-color: #f3bf65;
  border-radius: 5px;
  font-family: 'Bangers', cursive;
  font-family: 'Press Start 2P', cursive; 
  width: 60px ;
  border-color: #f4c8ea;
  font-size: 8px;
}
#btn-hard{
  background-color: #f99f05;
  border-radius: 5px;
  font-family: 'Bangers', cursive;
  font-family: 'Press Start 2P', cursive; 
  width: 46px ;
  border-color: #f4c8ea;
  font-size: 8px;
  margin: -12px;
}
}
@media (max-width: 550px) {
  .bottom_bar {
    background: url(/assets/images/wallpaper_sidebar.jpg);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px; 
    font-family: monospace;  
    position: fixed;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
    font-family: 'Bangers', cursive;
    font-family: 'Press Start 2P', cursive; 
  }
  #new_game_button {
    border-color: rgb(0, 0, 0);
    color: rgba(0, 0, 0, 0.825);
    font-family: monospace;
    font-size: 10px;
    background-color: #f4ed19;
    font-family: 'Bangers', cursive;
    font-family: 'Press Start 2P', cursive; 
    width: 70px;
    height: 30px;
    border-radius: 50px;
  }
.bottom_bar {
    background-color: #f21616;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
#new_game_button:hover {
    color: #e58f8f;
  }
.game_counters {
 border-style: groove;
 display: flex;
 width: 150px;
 height: 30px;
 background-color: #c82ce3;
 font-size: 7px;
 text-align: center;
 border-radius: 25px;
 border-color: rgba(238, 53, 6, 0.834);
 border-width: 2px;

}
.counter-value {
  color: rgb(0, 0, 0);
  font-size: 5px;
}
.counter {
  color: #f8f1f1;
  margin: 10px;
  position: relative;
  top: -4px;
}
.timer{ 
   margin: 10px;
   background-color: #f4ed19;
   width: 70px;
   height: 14px;
   border-radius: 10px;
   padding: 3px;
   padding-top: 4px;
   position: relative;
   bottom: 5px;
}
.timer label {
  position: relative;
   bottom: -4px;
}

.themes button{
  background: none;
  border: none;
}
.themes img {
width: 15px;
height: 15px;
position: relative;
top: -5px;
border-radius: 4px;
border-style: groove;
margin: -10px;
}
.themes button:hover {
color: aqua;
}
#btn-easy{
  background-color: #fadead;
  border-radius: 5px;
  font-family: 'Bangers', cursive;
  font-family: 'Press Start 2P', cursive; 
  width: 45px ;
  border-color: #f4c8ea;
  font-size: 8px;
  margin: -12px;
}
#btn-medium{
  background-color: #f3bf65;
  border-radius: 5px;
  font-family: 'Bangers', cursive;
  font-family: 'Press Start 2P', cursive; 
  width: 60px ;
  border-color: #f4c8ea;
  font-size: 8px;
}
#btn-hard{
  background-color: #f99f05;
  border-radius: 5px;
  font-family: 'Bangers', cursive;
  font-family: 'Press Start 2P', cursive; 
  width: 46px ;
  border-color: #f4c8ea;
  font-size: 8px;
  margin: -12px;
}
}



